* {
    font-family: 'Quicksand', sans-serif;
}

#navbar li{
    display: inline;
    float: right;
    padding-right: 25px;
    font-size: 100%;
}

#navbar{
    width: 95%;
    position: absolute;
    z-index: 5;
    margin-right: 10px;
    margin-top: 0;
}

#navbar li{
    display: inline;
    float: right;
    margin: 15px;
   
    color: 	azure;
  
  }
  
  
  #message{
    position:relative;
    padding-top: 105px;
    padding-left: 10%;
    font-size: 185%;
    color: 9733EE;
    
    z-index: 3;
    color: azure;
  }
  #message h1{
    
  }
  
  .highlight{
    color: #e43d2a;
    display: inline-block;
  }
  
  .navlink{
    text-decoration: none;
    color: 	azure;
    margin-right: 14px;
  }
  
  .navlink:hover{
    color: #e43d2a;
    font-size: 108%;
  }

  #social_media img{
    width: 32px;
    margin-right: 40px;

  }

  #social_media{
    margin-top: 70px;
    position: relative;
    z-index: 3;
    text-align: center;
  }

  #contact_button{
    background-color: #e43d2a ;
    padding: 8px;
    color: #f5f6fa;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 48%;
    position: relative;
    font-size: 18px;
}

.contact_container{
  position: relative;
  z-index: 3;
  
}

.animate__animated.animate__tada  {
  animation-delay: 2s;
  --animate-duration: 3s;
  animation-iteration-count: 3;
}

footer hr{
  width: 80%;
}