#projects{
  z-index: 5;
  display: block;
  overflow: auto;
  background-color: #e43d2a;
  margin: 0 auto;
  color: azure;
}



#title{
  text-align: center;
  padding-top: 1px;
}

.project{
  border-radius: 15px;
  margin-left: 2%;
  margin-top: 2px;
  margin-bottom: 25px;
  width: 320px;
  background-color: #e43d2a;
}




.project_img{
  border-radius: 25px;
  margin-top: 6px;
  width :100%;
  height: 175px;
}

.codeused{
  margin-top: 2px;
  margin-left: 12px;
  font-size: 14px;
}
.project a{
  text-decoration: none;
}
.project h1{
  font: 32px;
  text-align: center;
}



#project_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_links{
  display: flex;
  justify-content: left;
  margin-left: 12px;
}

.project_links img{
  width: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

.project_description{
  color: rgb(216, 215, 215);
  text-align: left;
  font-size: 13px;
}

@media only screen and (max-width : 1200px) {
    #projects{
      height: 2460px;
    }
    .project {
      width: 725px;
      
      height: 705px;
      margin-bottom: 20px;
    }
    .project_img{
      width: 100%;
      height: auto;

    }

@media only screen and (max-width : 750px) {
      #projects{
        height: 2250px;
      }
      .project {
        width: 450px;
        height: 530px;
        margin-bottom: 20px;
      }
      .project_img{
        width: 100%;

      }
}
