#skills{
    background-color: #3c6382;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #f5f6fa;
    overflow: auto;
}


#skill_list{
    width: 200px;
    margin-top: 30px;
    font-size: 14px;
}
.skill_item {
    margin-left: 32px;
}

.skill_item img{
    width: 32px;
    margin-right: 12px;
}

#me_image{
    width: 460px;
    margin: 100px;
}

#about_me{
    margin-top: 270px;
    width: 400px;
    margin-left: 50px;
}